# Dasar-Dasar Bahasa Pemrograman Python

Pada tutorial kali ini, kita akan belajar dasar-dasar bahasa pemrograman python. Materi ini akan menjadi bekal bagi pembaca sebelum lebih jauh masuk dalam kegiatan pemrograman menggunakan python. Adapun yang akan dibahas dalam tutorial kali ini, antara lain:

1. Sintaks dasar python
2. Operator dalam python
3. Tipe data python
4. Percabangan dan perulangan
5. Fungsi

## 1 Sintaks Dasar Python

### 1.1 Statement

Statement merupakan seluruh perintah yang dieksekusi di python.

In [1]:
1 + 2

3

### 1.2 Baris dan Indentasi

Python tidak menggunakan tanda { } untuk menandai blok / grup kode. Blok kode di python menggunakan tanda indentasi (spasi). Jumlah spasi untuk setiap baris yang ada dalam satu blok kode harus sama. Contoh yang benar adalah sebagai berikut:

In [5]:
nilai = 60

if nilai >= 75:
  print("lulus dengan nilai", nilai)
else:
  print("tidak lulus")

tidak lulus

### 1.3 Tanda Kutip

Python menggunakan tanda kutip tunggal (‘), ganda (“), maupun triple (”’ atau “””) untuk menandai string, sepanjang stringnya diawali oleh tanda kutip yang sama di awal dan akhir string.

In [ ]:
print('saya')

saya

In [6]:
print('my name is "Andi"')

my name is "Andi"

In [ ]:
print("my name is \"Andi\"")

my name is "Andi"

In [ ]:
print("my name is 'Andi'")

my name is 'Andi'

In [7]:
print('''
Saya suka 
makan bakso
''')

Saya suka
makan bakso

### 1.4 Variabel

Di python, variabel tidak perlu dideklarasikan secara eksplisit. Deklarasi atau pembuatan variabel terjadi secara otomatis pada saat kita memberi (menugaskan) suatu nilai ke variabel. Tanda sama dengan ( = ) digunakan untuk memberikan nilai ke variabel.

In [9]:
a = 1+2 +3 
a

6

### 1.5 Tanda Pagar

Tanda pagar (#) digunakan untuk menandai komentar di python. Komentar tidak akan diproses oleh interpreter Python. Komentar hanya berguna untuk programmer untuk memudahkan memahami maksud dari kode.

In [10]:
# jumlahkan angka 1 dan 2 dan simpan dalam variabel dgn nama a
a = 1+2
a

3

## 2 Operator

Operator merupakan simbol atau kata kunci (*keyword*) yang dapat dioperasikan pada sebuah atau beberapa nilai dan melakukan operasi matematika. Contoh: operator `*` digunakan untuk mengalikan dua buah bilangan `x * y`

### 2.1 Operator Matematika

Operator-operator matematika yang ada di python antara lain:

| Tipe       | Operator  | Deskripsi                    |
|:-----------|:----------|:-----------------------------|
| Unary      | `-`       | menunjukkan bil. positif atau negatif |
| Binary     | `+`, `-`  | penjumlahan dan pengurangan  |
|            | `*`, `/`  | perkalian dan pembagian      |
|            | `%`       | modulo - menghitung sisa pembagian |
|            | `**`      | pemangkatan                  |
|            | `//`      | pembagian integer (tanpa sisa bagi) |

In [13]:
(1 + 2) // 3 ** 2 % 9

0

### 2.2 Operator Perbandingan

Operator perbandingan atau relasional merupakan operator yang digunakan untuk membandingkan dua buah nilai. 

| Operator |  Deksripsi                                                       |
|:---------|:-----------------------------------------------------------------|
| `==`     | menghasilkan `True` jika kedua nilai sama                        |
| `!=`     | menghasilkan `True` jika kedua nilai tidak sama                  |
| `>`      | menghasilkan `True` jika nilai sebelah kiri lebih besar          |
| `<`      | menghasilkan `True` jika nilai sebelah kiri lebih kecil          |
| $\ge$    | menghasilkan `True` jika nilai sebelah kiri lebih besar atau sama dengan nilai sebelah kanan |
| $\le$    | menghasilkan `True` jika nilai sebelah kiri lebih kecil atau sama dengan nilai sebelah kanan |

In [14]:
x = 2
y = 3

# cek
(x+y) >= (x**2 % y*2)

True

### 2.3 Operator Logik

Terdapat sejumlah operator logik yang di dukung oleh python, antara lain:

| Operator  | Deskripsi                            |
|:----------|:-------------------------------------|
| `and`     | kedua operand bernilai `True` maka hasilnya `True`|
| `or`      | salah satu operand bernilai `True`  maka hasilnya `True`|
| `not`     | menghasilkan negasi dari kondisi yang disebutkan |

In [ ]:
x = 2
y = 3

# cek
(x+y >= y**2) and not (x < y)

False

## 3 Tipe Data

Python memilik beberapa tipe data, pada kali ini terdapat enam tipe data yang akan dipelajari, yaitu:
*   Number (Bilangan)
*   String
*   List
*   Tuple
*   Set
*   Dictionary

### 3.1 Number

Tipe data bilangan yang umum ada 2 yaitu, integer dan float. Integer adalah bilangan bulat, sedangkan float adalah bilangan pecahan (desimal). Selain itu ada tipe bilangan lain, yaitu bilangan kompleks yaitu bilangan yang memiliki bagian real dan imajiner.

In [ ]:
x = 5 
print(x, "tipenya adalah ", type(x))
x = 2.0
print(x, "tipenya adalah ", type(x))
x = 1+2j
print(x, "tipenya adalah ",type(x))

5 tipenya adalah  <class 'int'>
2.0 tipenya adalah  <class 'float'>
(1+2j) tipenya adalah  <class 'complex'>

### 3.2 String


Satu atau serangkaian karakter yang diletakkan diantara tanda kutip, baik tanda kutip tunggal ( ‘ ) maupun ganda ( ” ). Huruf, angka, maupun karakter lainnya yang digabung menjadi teks adalah contoh string.

String adalah tipe data yang anggotanya berurut dan memiliki indeks. Indeks dimulai dari angka 0 bila dimulai dari depan dan -1 bila diindeks dari belakang. Tiap karakter bisa diakses menggunakan indeksnya dengan formatnamastring[indeks] . Pada string juga bisa dilakukan slicing atau mengakses sekelompok substring dengan format namastring[awal:akhir]. Untuk jelasnya bisa diperhatikan contoh berikut.

In [15]:
kalimat = "Saya suka Makan"

print(kalimat)      # print string lengkap
print(kalimat[7])   # print karakter pertama
print(kalimat[-1])  # print karakter terakhir
print(kalimat[4:7]) # print dari indeks 4 - 6
print(kalimat[:4])  # print dari indeks 0 - 3

Saya suka Makan
k
n
 su
Saya

### 3.3 List


tipe data yang berisi item yang berurut. Seperti halnya tipe data string, tiap item (anggota) list memiliki indeks sesuai dengan urutannya. Indeks dimulai dari 0 dan bukan dari 1.

List bisa berisi anggota dengan tipe yang sama maupun berbeda. Untuk mendeklarasikan list, digunakan tanda kurung [ ] dan masing-masing anggotanya dipisahkan oleh tanda koma.

Untuk mengakses item dari list caranya adalah dengan memanggil nama list diikuti indeks dari item yang bersangkutan, yaitu dengan format namalist[index]
Selain itu bisa juga dilakukan pengaksesan terhadap sejumlah item dari indeks ke indeks. Hal ini disebut slicing. Contohnya sebagai berikut:

In [19]:
x = [5,10,15,20,25,30,35,40]

a = x[2] # ambil elemen ke 3
b = x[:3] # ambil elemen indeks 0-2
c = x[5:] # ambil seluruh elemen list dari indeks ke 5

print (a,b,c, sep="\n")

15
[5, 10, 15]
[30, 35, 40]

In [20]:
# mengubah nilai elemen 1 dan 5
x[0], x[4]= True, 'Saya'
x[2] = 0

print(x)

[True, 10, 0, 20, 'Saya', 30, 35, 40]

In [ ]:
# menambahkan elemen baru pada list
x.insert(0, "first")
x.append("last")

print(x)

['first', True, 10, 15, 20, 'Saya', 30, 35, 40, 'last']

In [ ]:
# menghapus list
del x

In [ ]:
print(x)

NameError: ignored

### 3.4 Tuple

Jenis data lain yang mirip dengan list. Perbedaannya dengan list adalah anggotanya tidak bisa diubah (immutable). List bersifat mutable, sedangkan tuple bersifat immutable. Sekali tuple dibuat, maka isinya tidak bisa dimodifikasi lagi.

In [ ]:
white = (255,255, 255)
red = (255,0,0)
print(white)
print(red[0])
print(red[1])

(255, 255, 255)
255
0

In [ ]:
# tuple bersifat immutable, bila kita run kode ini, akan memunculkan error
red[0] = 128

TypeError: ignored

### 3.5 Set

Salah satu tipe data di Python yang tidak berurut (unordered).Set memiliki anggota yang unik (tidak ada duplikasi). Jadi misalnya kalau kita meletakkan dua anggota yang sama di dalam set, maka otomatis set akan menghilangkan yang salah satunya.

Set dibuat dengan meletakkan anggota – anggotanya di dalam tanda kurung kurawal { }, dipisahkan menggunakan tanda koma. Kita juga bisa membuat set dari list dengan memasukkan list ke dalam fungsi set()

In [21]:
# set integer 
my_set = {1,2,3} 
print(my_set)

{1, 2, 3}

In [22]:
# set dengan menggunakan fungsi set() 
my_set = set([1,2,3]) 
print(my_set)

{1, 2, 3}

In [ ]:
# bila kita mengisi duplikasi, set akan menghilangkan salah satu 
my_set = {1,2,2,3,3,3} 
print(my_set)

### 3.6 Dictionary

Tipe data yang tiap anggotanya terdiri dari pasangan kunci-nilai (key-value). Mirip dengan kamus dimana ada kata ada arti. Dictionary umumnya dipakai untuk data yang besar dan untuk mengakses anggota data secara acak. Anggota dictionary tidak memiliki indeks.

Dictionary dideklarasikan dengan menggunakan tanda kurung kurawal { }, dimana anggotanya memiliki bentuk kunci:nilai atau key:value dan tiap anggota dipisah tanda koma. Kunci dan nilainya bisa memiliki tipe sembarang.

In [ ]:
d = {'one':'satu', 'two':'dua', 'three':3}
print(d)

{'one': 'satu', 'two': 'dua', 'three': 3}

In [ ]:
#Untuk mengakses nilai dari anggota dictionary, kita menggunakan key-nya.
a = d['one']
b = d['two']

print (a,b)

satu dua

In [ ]:
# menambahkan item
d.update({"four":"empat"})
print(d)

{'one': 'satu', 'two': 'dua', 'three': 3, 'four': 'empat'}

In [ ]:
# menghapus elemen terakhir
d.popitem()

('four', 'empat')

In [ ]:
# mengosongkan isi dictionary
d.clear()

In [ ]:
# menghapus dictionary
del d

## 4 Percabangan dan Perulangan

### 4.1 Percabangan


Percabangan mengevaluasi kondisi atau ekspresi yang hasilnya benar atau salah .  Kondisi atau ekspresi tersebut disebut ekspresi boolean. Hasil dari pengecekan kondisi adalah True atau False. Bila benar (True), maka pernyataan yang ada di dalam blok kondisi tersebut akan dieksekusi. Bila salah (False), maka blok pernyataan lain yang dieksekusi.

Terdapat tiga jenis percabangan dalam python, yaitu:
1.   if ...
2.   if ... else ...
1.   if ... elif ... else ...

#### Pernyataan If
Pernyataan if menguji satu buah kondisi. Bila hasilnya benar maka pernyataan di dalam blok if tersebut dieksekusi. Bila salah, maka pernyataan tidak dieksekusi. Contoh Sintaksnya adalah seperti berikut:

In [23]:
# Bila bilangan positif, tampilkan pesan

angka = 5
if angka > 0:
   print(angka, "adalah bilangan positif.")

5 adalah bilangan positif.

In [ ]:
# yang berikut akan bernilai False sehingga tidak dieksekusi, karena nilai angka tidak lebih dari 0
angka = -1
if angka > 0:
    print(angka, "adalah bilangan positif.")

#### Pernyataan if ... else
Pernyataan if…else menguji 2 kondisi. Kondisi pertama kalau benar, dan kondisi kedua kalau salah. Sintaksnya adalah seperti berikut:

In [ ]:
# Program menguji apakah sebuah bilangan positif atau negatif dan menampilkan pesan ke monitor
bilangan = 5
if bilangan >= 0:
    print("Positif atau Nol")
else:
    print("Bilangan negatif")

In [ ]:
# Coba juga mengubah bilangan menjadi bilangan = -1 dan perhatikan hasilnya
bilangan = -1
if bilangan >= 0:
    print("Positif atau Nol")
else:
    print("Bilangan negatif")

#### Pernyataan if...elif...else
Pernyataan if…elif…else digunakan untuk menguji lebih dari 2 kondisi. Bila kondisi pada if benar, maka pernyataan di dalamnya yang dieksekusi. Bila salah, maka masuk ke pengujian kondisi elif. Terakhir bila tidak ada if atau elif yang benar, maka yang dijalankan adalah yang di blok else. Sintaksnya adalah seperti berikut:

In [24]:
# Di sini kita menguji apakah sebuah bilangan adalah bilangan positif, nol, atau negatif dan menampilkan hasilnya ke layar
bilangan = 5.5
if bilangan > 0:
    print("Bilangan positif")
elif bilangan == 0:
    print("Nol")
else:
    print("Bilangan negatif")

Bilangan positif

In [ ]:
# Coba juga mengganti bilangan jadi bilangan = 0
bilangan = 0
if bilangan > 0:
    print("Bilangan positif")
elif bilangan == 0:
    print("Nol")
else:
    print("Bilangan negatif")

In [ ]:
# Coba juga mengganti bilangan jadi bilangan = -5.5
bilangan = -5.5
if bilangan > 0:
    print("Bilangan positif")
elif bilangan == 0:
    print("Nol")
else:
    print("Bilangan negatif")

### 4.2 Perulangan


Python mengeksekusi program baris perbaris. Mulai dari baris satu, dua, dan seterusnya. Ada kalanya, kita perlu mengeksekusi satu baris atau satu blok kode program beberapa kali. Hal ini disebut dengan perulangan atau biasa disebut looping atau iterasi.

Di python, perulangan bisa dilakukan dengan dua cara atau metode, yaitu:

1. Menggunakan for
2. Menggunakan while

#### Perulangan dengan for
Perulangan dengan for memiliki tambahan variabel. Variabel  digunakan untuk penampung sementara nilai dari sequence pada saat terjadi perulangan. Sequence adalah tipe data berurut seperti string, list, dan tuple.

Perulangan terjadi sampai looping mencapai elemen atau anggota terakhir dari sequence. Bila loop sudah sampai ke elemen terakhir dari sequence, maka program akan keluar dari looping.

contoh perulangan for adalah sebagai berikut

In [25]:
# Program untuk menemukan jumlah bilangan dalam satu list

# List number
numbers = [7, 5, 9, 8, 4, 2, 6, 4, 1]

# variablel untuk menyimpan jumlah
sum = 0

# iterasi
for each in numbers:
    sum = sum + each

# Output
print("Jumlah semuanya:", sum)

Jumlah semuanya: 46

In [26]:
#Fungsi Range
mapel = ['matematika', 'fisika', 'kimia']

# iterasi list menggunakan indeks
for i in range(len(mapel)):
    print("Saya suka", mapel[i])

Saya suka matematika
Saya suka fisika
Saya suka kimia

#### Perulangan Menggunakan While
Perulangan menggunakan while akan menjalankan blok pernyataan terus menerus selama kondisi bernilai benar.

While juga memiliki input dengan nama expression. Expression merupakan ekspresi atau kondisi apa saja, dan untuk nilai selain nol dianggap True. Iterasi akan terus berlanjut selama kondisi benar. Bila kondisi salah, maka program akan keluar dari while dan lanjut ke baris pernyataan di luar while.

In [ ]:
count = 0
while (count < 5):
    print('The count is:', count)
    count = count + 1
print('Good bye!')

Di sini, blok pernyataan print('The count is:', count), dijalankan terus selama count masih lebih kecil dari 5. Count ditambah 1 setiap kali iterasi. Pada saat nilai count mencapai 5, maka kondisi menjadi False dan program keluar dari looping while dan melanjutkan baris selanjutnya yaitu print("Good bye").

#### Kendall Looping
Looping umumnya akan berhenti bila kondisi sudah bernilai salah. Akan tetapi, seringkali kita perlu keluar dari looping di tengah jalan tergantung keperluan. Hal ini bisa kita lakukan dengan menggunakan kata kunci break dan continue.

Statement break memaksa program keluar dari blok looping di tengah jalan. Sedangkan statement continue menyebabkan program langsung melanjut ke step / interval berikutnya dan mengabaikan (skip) baris kode di bawahnya (yang satu blok). Jelasnya perhatikan contoh berikut:

In [ ]:
# contoh penggunaan statement break
for letter in "Programming":
    if letter == "g":
        break
    print("Huruf sekarang:", letter)
print("Good bye")

In [ ]:
#Bila pada program di atas kita ganti kode break menjadi continue, maka hasilnya akan jadi seperti berikut:
for letter in "Programming":
    if letter == "g":
        continue
    print("Huruf sekarang:", letter)
print("Good bye")

#### Pernyataan While else
Python mendukung penggunaan else sebagai pasangan dari while. Blok pernyataan else hanya akan dieksekusi bila kondisi while bernilai salah. Contohnya adalah sebagai berikut

In [ ]:
count = 0
while (count < 5):
    print(count, "kurang dari 5")
    count = count + 1
else:
    print(count, "tidak kurang dari 5")

## 5 Fungsi


Fungsi adalah grup/blok program untuk melakukan tugas tertentu yang berulang. Fungsi membuat kode program menjadi reusable, artinya hanya di definisikan sekali saja, dan kemudian bisa digunakan berulang kali dari tempat lain di dalam program.


Fungsi memecah keseluruhan program menjadi bagian – bagian yang lebih kecil . Dengan semakin besarnya program, maka fungsi akan membuatnya menjadi lebih mudah diorganisir dan dimanage.

Sejauh ini, kita sudah menggunakan beberapa fungsi, misalnya fungsi print(), type(), dan sebagainya. Fungsi tersebut adalah fungsi bawaan dari Python. Kita bisa membuat fungsi kita sendiri sesuai kebutuhan.

Contoh pemakaian fungsi adalah sebagai berikut:

In [ ]:
def sapa(nama): 
    """Fungsi ini untuk menyapa seseorang sesuai nama yang dimasukkan sebagai parameter""" 
    print("Hi, " + nama + ". Apa kabar?") 

# pemanggilan fungsi 
sapa('Umar')

### 5.1 Argumen Kata Kunci


Argumen dengan kata kunci berkaitan dengan cara pemanggilan fungsi. Ketika menggunakan argumen dengan kata kunci, fungsi pemanggil menentukan argumen dari nama parameternya. Hal ini membuat kita bisa mengabaikan argumen atau menempatkannya dengan sembarang urutan.

Python dapat menggunakan kata kunci yang disediakan untuk mencocokkan nilai sesuai dengan parameternya. Jelasnya ada pada contoh berikut:

In [27]:
# Definisi fungsi 
def print_info( nama, usia ): 
    """Fungsi ini menampilkan info yang dimasukkan"""
    print ("Nama: ", nama) 
    print ("Usia: ", usia) 

# Memanggil fungsi 
# output 
print_info( "Budi", 25 )

Nama:  25
Usia:  Budi

In [28]:
print_info("Andi", 20)

Nama:  Andi
Usia:  20

### 5.2 Argumen Default


Fungsi dengan argumen default menggunakan nilai default untuk argumen yang tidak diberikan nilainya pada saat pemanggilan fungsi. Pada contoh berikut, fungsi akan menampilkan usia default bila argumen usia tidak diberikan:

In [ ]:
# Definisi fungsi 
def print_info( nama, usia= 17 ): 
    """Fungsi ini menampilkan info yang dimasukkan""" 
    print ("Nama: ", nama) 
    print ("Usia ", usia) 

# Pemanggilan fungsi tidak menyediakan argumen usia 
print_info( nama = "Galih" )

Nama:  Galih
Usia  17

5.3 Fungsi dengan Return Value

Fungsi yang telah kita buat sebelumnya merupakan sebuah fungsi yang mencetak informasi melalui argumen yang diberikan. Fungsi tersebut hanya memeberikan *side effect* berupa nilai yang tercetak, namun tidak merubah *environment* (tidak ada nilai yang dapat disimpan). Sebagai contoh jalankan fungsi sebelumnya dan simpan ke dalam sebua variabel dengan nama `info`.

In [ ]:
info = print_info( nama = "Galih" )

Nama:  Galih
Usia  17

Cetak variabel tersebut dan lihat apakah terdapat nilai yang tercetak ?

In [ ]:
print(info)

None

Fungsi tersebut tidak mencetak nilai apapun, dalam hal ini tidak terdapat nilai yang tersimpan dalam variabel tersebut. Untuk membuat fungsi tersebut dapat menyimpan sebuah nilai, kita dapat menggunakan keyword `return` pada akhir fungsi.

In [ ]:
# Definisi fungsi 
def print_info( nama, usia= 17 ): 
    """Fungsi ini menampilkan info yang dimasukkan""" 
    print ("Nama: ", nama) 
    print ("Usia ", usia) 

    return [nama, usia]

In [ ]:
info = print_info("Andi")

Nama:  Andi
Usia  17

In [ ]:
# cetak nilai dalam variabel
print(info)

['Andi', 17]